
header, article, aside, footer {
    padding: 5px;
}

:root,
:root.light {
    --c_back: rgb(20, 20, 37);
    --c_main: rgb(35, 35, 35);
    --c_head: rgb(3, 53, 94);
    --c_nav: rgb(32, 95, 163);
    --c_li: rgb(23, 77, 136);
    --c_li_h: rgb(23, 100, 182);
    --c_white: rgb(255, 255, 255);
    --c_black: rgb(0, 0, 0);
    --c_div: rgb(25, 25, 25);
    --s_sh: rgba(255, 255, 255, 0.5);
    --s_sp: -5px;
    --c_footer: rgb(0, 28, 51);
}

:root.dark {
    --c_back: rgb(32, 32, 60);
    --c_main: rgb(226, 226, 226);
    --c_head: rgb(31, 99, 155);
    --c_nav: rgb(105, 172, 243);
    --c_li: rgb(45, 138, 237);
    --c_li_h: rgb(19, 96, 179);
    --c_white: rgb(0, 0, 0);
    --c_black: rgb(255, 255, 255);
    --c_div: rgb(175, 175, 175);
    --s_sh: rgb(0, 0, 0);
    --s_sp: 5px;
    --c_footer: rgb(22, 76, 121);
}

html, body {
    background-color: var(--c_back);
    margin: 0;
    color: var(--c_white);
    font-family: 'Roboto', sans-serif;
}

main, header, nav, article, aside, footer {
    border: solid 1px black;
}

a {
    text-decoration: none;
    text-align: center;
    color: brown;
}

main {
    display: grid;
    grid-template-areas: "h"
                         "n"
                         "a"
                         "s"
                         "f";
    background-color: var(--c_main);
    width: 90%;
    margin: auto;
}

/*HEADER*/

header {
    grid-area: h;
    background-color: var(--c_head);
    position: sticky;
    height: 50px;
    top: 0;
    z-index: 99;
}

.header:after {
    clear: both;
}

header>h1 {
    float: left;
    margin: auto;
    text-align: center;
    color: rgb(218, 218, 218);
    grid-area: h_h1;
    width: 70%;
    margin-top: 5px;
}

.theme {
    grid-area: h_th;
    width: 50px;
    margin: auto;
    margin-top: 5px;
    float: right;
}

.theme_bal {
    grid-area: h_th_b;
    width: 15%;
    height: 40px;
    float: left;
}
  
.theme>.theme_button {
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
  
.theme>.theme_button>img {
    height: 100%;
    width: 100%;
}

/*NAV*/

nav {
    grid-area: n;
    background-color: var(--c_nav);
    position: sticky;
    top: 60px;
    z-index: 98;
}

nav>ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 1fr 10%;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    border-right: solid 2px black;
    background-color: var(--c_li);
}

nav>ul>li:hover {
    background-color: var(--c_li_h);
}

nav>ul>.empty {
    background-color: var(--c_nav);
}

nav>ul>.empty:hover {
    background-color: var(--c_nav);
}

nav>ul>li>a {
    color: var(--c_white);
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 5px;
}

nav>ul>li>a:hover {
    color: var(--c_black);
}

/*ARTICLE*/

article {
    grid-area: a;
    text-align: justify;
}

article>.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

article>.links>div {
    max-width: 100%;
    margin: 5px;
    background-color: var(--c_div);
    border-radius: 5px;
    text-align: center;
}

article>.links>div>h3 {
    margin: 5px;
}

article>.links>div>a>img {
    max-width: 95%;
    margin: 5px;
    border-radius: 5px;
}

article>.links>div>a>img:hover {
    animation: grow 0.2s linear 0s forwards;
}

@keyframes grow {
    from {transform: scale(100%, 100%);}
    to {transform: scale(120%, 120%);}
}

article>.html_gen_input {
    text-align: center;
    margin: auto;
    margin-right: 10px;
}

article>.html_gen_input>#input_html {
    width: 100%;
    resize: vertical;
    height: 700px;
}

article>.gen_button {
    text-align: center;
    margin: 5px;
    margin-top: 10px;
}

article>.gen_button>.gen {
    color: var(--c_white);
    background-color: var(--c_li);
    font-weight: 600;
    font-size: larger;
    padding-top: 10px;
    padding-bottom: 10px;
}

article>.gen_button>.gen:hover {
    color: var(--c_black);
    background-color: var(--c_li_h);
    cursor: pointer;
}

.galery {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.galery>div>.good_img:hover {
    animation: grow 0.5s linear 0s forwards;
}

@keyframes grow {
    from {transform: scale(100%, 100%);}
    to {transform: scale(150%, 150%);}
}

.galery>div {
    margin: 10px;
    padding: 10px;
    box-shadow: 15px 15px 30px var(--s_sp) var(--s_sh);
    text-align: center;
    background-color: var(--c_div);
    max-width: 300px;
    border-radius: 5px;
}

.galery>div>img {
    padding: 5px;
    width: 95%;
    margin: auto;
    aspect-ratio: 1/1;
}

.galery>div>a>img {
    width: 30px;
}

.portfolio {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 10px;
    background-color: var(--c_div);
    border-radius: 10px;
}

.portfolio>p {
    margin: 5px;
}

.fadeIn {
    opacity: 0%;
    animation: FadeIn 1s ease forwards;
    animation-delay: calc(var(--order) * 100ms);
}

.fadeIn>.me {
    float: right;
    border-radius: 5px;
    margin: 10px;
}

.fadeIn>.me::after {
    clear: both;
}

@keyframes FadeIn {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.no>h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.no>h4 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

/*ASIDE*/

aside {
    grid-area: s;
    text-align: justify;
}

aside>table {
    margin: auto;
    border-collapse: collapse;
    background-color: var(--c_div);
    border: solid 3px black;
    margin-top: 10px;
    margin-bottom: 10px;
}

aside>table>tbody>tr>th, aside>table>tbody>tr>td {
    border: solid 1px black;
    padding: 3px;
}

aside>table>tbody>tr:hover {
    background-color: var(--c_main);
}

aside>table>tbody>tr:first-child {
    text-align: center;
}

aside>table>tbody>tr>td {
    text-align: center;
}

aside>.play_area {
    margin: auto;
    background-color: var(--c_div);
    width: 95%;
    max-width: 95%;
    min-height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
    word-break:break-all;
}

aside>.video_con {
    margin: auto;
    text-align: center;
}

.video{
    aspect-ratio: 16/9;
    width: 100%;
    max-width: 500px;
    border: none;
}

/*FOOTER*/

footer {
    grid-area: f;
    text-align: center;
    color: rgb(201, 201, 201);
    background-color: var(--c_footer);
}

footer>.gitlink {
    margin: auto;
    margin-top: 5px;
    text-align: center;
    width: 20%;
}

footer>.gitlink>a {
    background-color: var(--c_li);
    color: var(--c_white);
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 5px;
}

footer>.gitlink>a:hover {
    background-color: var(--c_li_h);
    color: var(--c_black);
}

/*MEDIA SCREENS*/

@media screen and (max-width:1200px) {

    .galery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}

@media screen and (max-width:900px) {

    main {
        width: 100%;
    }

    article {
        width: 100%;
    }

    .galery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media screen and (max-width:600px) {

    nav>ul {
        grid-template-rows: 0 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    nav>ul>li {
        border-right: none;
        border-top: solid black 1px;
        border-bottom: solid black 1px;
    }

    article>.links {
        grid-template-columns: 1fr;
    }

    .galery {
        grid-template-columns: 1fr 1fr;
    }

    aside>.play_area {
        width: 100%;
    }

    footer>.gitlink {
        width: 40%;
    }
    
}

@media screen and (max-width:400px) {

    header {
        grid-template-areas: "h_th_b"
                             "h_h1"
                             "h_th";
        height: 80px;
    }

    header>div {
        clear: both;
    }

    header>.theme {
        width: 100%;
        margin: auto;
        margin-top: 5px;
        text-align: center;
    }

    header>.theme>.theme_button {
        width: 40px;
    }

    nav {
        top: 87px;
    }
    
    .galery {
        display: grid;
        grid-template-columns: 1fr;
    }
    
}

@media screen and (max-width:300px) {

    .fadeIn>.me {
        width: 80%;
    }

}