
html, body{
    background-image:url("design/hatter.jpg");
    max-width: 1000px;
    margin: auto;
}

main, header, nav, article{
    margin: 0px;
    padding: 0px;
}

header {
    grid-area: h;
    background-image: url("design/fejlec.jpg");
    background-size: 100%;
    background-size: cover;
    background-repeat:round;
    color: white;
}

header h3 {
    padding-top: 60px;
    padding-left: 10px;
    text-align: left;
    font-family:monospace;
}

nav {
    grid-area: n;
    background-color: rgb(168, 204, 97);
}

article {
    grid-area: a;
    background-color: white;
    padding: 5px;
    text-align: justify;
    color: rgb(85, 31, 6);
}

article h5 {
    margin: 0;
    font-weight: 750;
}

footer {
    grid-area: f;
    background-color:darkgreen;
    color: white;
    text-align: center;
}

main {
    display: grid;
    grid-template-rows: 100px auto auto auto;
    grid-template-columns: 30% auto auto auto;
    grid-template-areas: "h h h h"
                         "n a a a"
                         "n f f f";
    background-color: rgb(112, 184, 79);
}

img {
    padding: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}

nav li {
    background-color:rgb(130, 173, 43);
    padding: 0;
    margin: 0;
    text-align: center;
    border: rgb(136, 184, 40) solid 1px;
}

nav li:hover {
    background-color:rgb(146, 184, 63);
}

a {
    text-decoration: none;
    color:white
}

nav a {
    display: block;
    padding: auto;
    margin: 5px;
    font-weight: 700;
}

nav a:hover {
    color: black;
}

.img1 {
    float: left;
}

.img2 {
    float: right;
}

.c {
    clear: both;
}

article td, article th {
    text-align: center;
}

article td {
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}

article table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

tr:nth-child(even)
{
    background-color: rgb(179, 179, 179);
}

tr:hover
{
    color: tomato;
    background-color: rgb(255, 178, 169);
    cursor: grab;
}


@media screen and (max-width: 600px){

    main {
        grid-template-rows: 100px auto auto auto;
        grid-template-columns: auto;
        grid-template-areas: "h"
                             "n"
                             "a"
                             "f";
    }

    header h3 {
        padding-top: 40px;
        padding-left: 0;
        text-align: center;
    }

    header {
        background-image: url("design/fejlec_kicsi.jpg");
    }
}