main {
    background-color: darkgray;
    /*szülőelen rácsszerkezete (táblázat)*/
    display: grid;
    grid-template-areas: "h h h h h"
                         "a a a as as"
                         "f f f f f";
    max-width: 80%;
    margin: auto;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h6 {
    margin: 0;
}

/*gyerekelemel elnevezése*/
header {
    grid-area: h;
    text-align: center;
}

nav {
    grid-area: n;
}

article {
    grid-area: a;
    background-color: paleturquoise;
}

aside {
    grid-area: as;
    background-color: peachpuff;
}

footer {
    grid-area: f;
    background-color: mediumseagreen;
}

main, header, footer, article, nav, aside, .rek, .si {
    border: 1px solid black;
    padding: 10px;
}

.si {
    background-color: darkolivegreen;
}

.rek {
    background-color: darkred;
}

nav ul {
    margin: auto;
    padding: 0px;
}

footer nav ul {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr;
}

header nav ul {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 50%;
}

li:hover {
    background-color: aquamarine;
}

li {
    background-color: mediumspringgreen;
    padding: 5px;
    list-style-type: none;
    margin: 3px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(54, 150, 118);
}

img {
    width: 100%;
}

/*reszponzivitás*/
@media screen and (max-width:600px){
    footer nav ul {
        grid-template-columns: 1fr;
    }
    header nav ul {
        grid-template-columns: 1fr;
    }

    main {
        grid-template-areas: "h"
                             "n"
                             "a"
                             "as"
                             "f";
    }

    article {
        grid-template-columns: 1fr;
    }
}