
body {
	background-image: url("kep/hat.jpg");
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	margin: 0px;
}

.fo {
	margin: auto;
	max-width: 1000px;
	margin-top: 20px;
	background-color: #000000;
}

h2 {
	clear: both;
	max-width: 1000px;
	border-bottom: 2px solid #ffffff;
	text-align: center;
	
	
}

h3 {
	clear: both;
	max-width: 1000px;
	border-bottom: 2px solid #ffffff;
	text-align: center;
	animation: color_change 1s infinite alternate;
}

@keyframes color_change {
 from { color: blue; }
 to { color: red; }
}



h1, .center{
	text-align: center;
}

img {
	padding: 2px;
	border: 1px dashed #ffffff;
	margin: 5px;
	box-shadow: 1px 1px 0px 1px rgb(255, 255, 255, 0.2), 1.5px 1.5px 0px 1.5px rgba(255, 255, 255, 0.2), 2px 2px 0px 2px rgba(255, 255, 255, 0.2), 2.5px 2.5px 0px 2.5px rgba(255, 255, 255, 0.2), 3px 3px 0px 3px rgba(255, 255, 255, 0.1);
	transition: transform .2s;
}

.i1 {
	float: right;
}
.i2 {
	float: left;
}

p {
	font-size: 15px;
	text-align: justify;
}

.menu a{
	color: white;
	background-color: #1d1d1d;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	text-decoration: none;
}

.menu a:hover {
	background-color: #363636;
}

.clear {
	clear:both
}

.nev {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

.shrink img {
	margin-top: -100px;
	margin-bottom: 0px;
}

.shrink .info p {
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
	font-size: 10px;
}

.shrink .info {
	margin-top: 50px;
}

.shrink .info:hover {
	transform: scale(1.5);
}

.shrink img:active {
	transform: scale(.2) translate(0, -200%);
}

.shrink .i2 {
	margin-left: 20px;
}

.shrink .i1 {
	margin-right: 20px;
}

.demo {
    animation: pulsate 3s ease-out infinite; 
    opacity: 0.5;
}

@keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}

.flier  {
		color:yellow;
        animation: fly 30s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}

.typewriter h1 {
  color:yellow;
  font-family: monospace;
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.typewriter2  {
  font-size:15px;
  color;green;
  font-family: monospace;
  overflow: hidden; 
  white-space: nowrap; 
  animation: 
    typing 7s steps(30, end),
    blink-caret .5s step-end infinite;
}