/*div.container>(div.fejlec>p)(div.menu>ul>li>a)div.tartalom>(div.nagykep>img)div.galeria>img*16*/

.container {
    width: 1200px;
    margin: auto;
}

div {
    padding: 5px;
    border: 1px solid black;
}

.menu {
    background-color: lightgray;
}

.menu a{
    text-decoration: none;
    color: white;
}

.menu ul {
    list-style-type: none;
    padding: 0px;
}

.menu li {
    display: inline;
    background-color: rgb(185, 18, 18);
    padding: 5px;
    border: black solid 1px;
}

.menu ul :hover {
    background-color: lime;
}

.nagykep img {
    padding: 5px;
    border: 1px solid gray;
    margin: 5px;
    width: 100%;
}

.galeria img {
    padding: 5px;
    border: 1px solid gray;
    margin: 5px;
    width: calc(25% - 10px);
}

* {
    box-sizing: border-box;/*boreder is a kép méretének a része, *=minden */
}

/*töréspontok*/
@media screen and (max-width:600px){
    .galeria img {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width:400px){
    .galeria img {
        width: 100%;
    }

    .menu li {
        display: block;
    }
}