main, header, nav, article, aside, section, footer, aside>div {
    border: solid black 1px;
}

header, nav, article, section, footer {
    padding: 5px;
}

body, html {
    background-color: rgb(240, 229, 216);
}

main {
    display: grid;
    grid-template-areas: "h h h h"
                         "n n n n"
                         "a a a as"
                         "s s s s"
                         "f f f f";
    max-width: 1000px;
    width: 75%;
    margin: auto;
    text-align: justify;
}

header {
    grid-area: h;
}

nav {
    grid-area: n;
}

article {
    grid-area: a;
}

aside {
    grid-area: as;
    background-color: rgb(110, 110, 110);
    display: grid;
    grid-template-rows: 190px 100px 1fr;
}

aside>div {
    padding-top: 5px;
    padding-bottom: 5px;
}

section {
    grid-area: s;
    background-color: rgb(110, 110, 110);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer {
    grid-area: f;
}

nav>ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
}

nav>ul>li>a {
    text-decoration: none;
}

nav>ul>li>a:hover {
    color: violet;
}

.clear {
    clear: both;
}

img {
    padding: 5px;
}

.kep1 {
    float: left;
}

p {
    color: rgb(70, 70, 70);
    font-family: "Futura";
    font-stretch: 2px;
    max-width: 100%;
}

section>div>img {
    width: 100%;
}

div {
    padding: 20px;
}

th, td {
    width: 20px;
    height: 20px;
    text-align: center;
}

th {
    color: white;
}

td {
    font-size: 15px;
}

td {
    border: solid 1px rgb(117, 117, 117);
}

table {
    border-collapse: collapse;
}

th {
    background-color: rgb(51, 51, 51);
}

tr:nth-child(odd)>td:nth-child(even) {
    background-color: grey;
}

tr:nth-child(odd)>td:nth-child(odd) {
    background-color: white;
}

tr:nth-child(even)>td:nth-child(odd) {
    background-color: grey;
}

tr:nth-child(even)>td:nth-child(even) {
    background-color: white;
}

td:hover {
    background-color: lawngreen !important;
}

td:hover, tr:hover, th:hover {
    cursor: pointer;
}

td>a {
    text-decoration: none;
    color: black;
}

@media screen  and (max-width:700px) {

    aside>div>iframe {
        width: 160px;
        height: 90px;
    }

    aside {
        grid-template-rows: 100px 100px;
    }
}

@media screen  and (max-width:600px) {
    main {
        grid-template-areas: "h"
                             "n"
                             "a"
                             "as"
                             "s"
                             "f";
    }

    aside>div>iframe {
        width: 320px;
        height: 180px;
    }

    aside {
        grid-template-rows: 190px 100px;
    }

    section {
        grid-template-columns: 1fr;
    }

    nav>ul {
        grid-template-columns: none;
    }
}